h1{
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vmin;
    color: rgb(0,0,0);
    border-radius: 8px;
    border: 3px;
    border-style:solid;
    background-image: url("https://img.freepik.com/free-vector/futhark-norse-viking-runes-talismans-nordic-pagan-seamless-pattern_53562-7902.jpg?size=338&ext=jpg");
}

img{
    width: 400px;
    height: auto;
    border-radius: 8px;
    border: 3px;
    border-style:solid;
    text-align:center;
    display: block;
    margin: 0 auto;
}

.sideul>li{
    background-color: rgb(103, 101, 101);
    text-align: center;
    padding: 5px 5px 5px;
    margin: 1px auto;
    border: 1px;
    border-style: solid;
    list-style: none;

}

.sideul>li a:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
  }

  ul{
    margin: -1rem 0.5rem 1rem -2rem;
  }

  a {
    text-decoration: none;
    color: black;
  }